<span class="main-content">
  <h4>选择股票</h4>
  <mat-form-field>
    <mat-label>
      股票名
    </mat-label>
    <mat-select (selectionChange)="changeSelection($event)">
      <span *ngIf="stocks | async as stockOptions">
        <mat-option *ngFor="let stock of stockOptions" [value]="stock">
          {{stock.full_name}}
        </mat-option>
      </span>
    </mat-select>
  </mat-form-field>
  <span *ngIf="selectedStock | async as selected">
    选择了{{selected.full_name}}
  </span>
  <span *ngIf="prices | async as summaries">
    <google-chart [data]="getGoogleChart() | async"></google-chart>
    {{toGoogleChartData(summaries.slice(0,10)).join("\n")}}
  </span>
</span>
