<span class="main-content">
  <h4>选择股票</h4>
  <mat-form-field>
    <mat-label *ngIf="stocks$ | async; else waiting">
      选择股票名
    </mat-label>
    <ng-template #waiting>
      <mat-label>
        正在获取股票信息...
      </mat-label>
    </ng-template>
    <mat-select (selectionChange)="changeSelectedStock($event)">
      <span *ngIf="stocks$ | async as stockOptions">
        <mat-option *ngFor="let stock of stockOptions" [value]="stock">
          {{stock.full_name}}
        </mat-option>
      </span>
    </mat-select>
  </mat-form-field>
  <span *ngIf="selectedStock">
    <app-stock-chart-line [stockDailyPrices$]="stockDailyPrices$"
                          [stockFunctionDrawers]="stockFunctionDrawers"
                          [title]="selectedStock.full_name+' 股票图形'">
    </app-stock-chart-line>
  </span>
  <span *ngIf="highToSecondHighDrawer.highestPoint">
    最高点{{highToSecondHighDrawer.highestPoint.high}}元 {{formatDate(highToSecondHighDrawer.highestPoint.date)}}
  </span>
  <span *ngIf="highToSecondHighDrawer.secondHighestPoint">
    第二高点{{highToSecondHighDrawer.secondHighestPoint.high}}
    元 {{formatDate(highToSecondHighDrawer.secondHighestPoint.date)}}
  </span>
</span>
