<span class="main-content">
  <h4>选择股票</h4>
  <mat-form-field>
    <mat-label>
      股票名
    </mat-label>
    <mat-select (selectionChange)="changeSelectedStock($event)">
      <span *ngIf="$stocks | async as stockOptions">
        <mat-option *ngFor="let stock of stockOptions" [value]="stock">
          {{stock.full_name}}
        </mat-option>
      </span>
    </mat-select>
  </mat-form-field>
  <span *ngIf="googleChartData">
    <google-chart
      [data]="googleChartData"
      [dynamicResize]="true"
      [options]="chartOptions"
      [columns]="columns"
      style="width: 90vw; height: 60vh;"
      [type]="chartType"
      [title]="selectedStock.full_name+' 股票图形'"
    ></google-chart>
  </span>
  <span *ngIf="highestPoint">
    最高点{{highestPoint.high}}元 {{formatDate(highestPoint.date)}}
  </span>
  <span *ngIf="secondHighestPoint">
    第二高点{{secondHighestPoint.high}}元 {{formatDate(secondHighestPoint.date)}}
  </span>
</span>
